<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="abt">
    <img class="portrait" src="/img/img1.jpg" alt="">
    <p class="myprofile">Hello,this is Ritesh Kumar Information Technology undergraduate from Birla Institute of Technology,Mesra with decent problem solving skills,and good in team works, can also make decent web pages 😊.
    </p>
    </div>
    </div>
     {{>footer}}
</body>
</html>